api {
  # Christian Candelaria's workspace
  web_server: {{ clearml_web_server }}
  api_server: {{ clearml_api_server }}
  files_server: {{ clearml_files_server }}
  credentials {
    "access_key" = "{{ clearml_access_key }}"
    "secret_key" = "{{ clearml_secret_key }}"
  }
}
