api {
  # Christian Candelaria's workspace
  web_server: https://app.community.clear.ml
  api_server: https://api.community.clear.ml
  files_server: https://files.community.clear.ml
  credentials {
    "access_key" = "6N3AB11B5USMPZ2EWLF7"
    "secret_key" = "f4rGydWuNhgzUduhyOWlVafkptpuC7kq8NkoID6RoXp7W8Vwih"
  }
}
